* {
    margin: 0 ; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.App {
    position: relative;
    width: 400px;
    margin: 200px auto;
        .add-todo {
            display: flex;
            justify-content: space-between;
            input {
                width: 200px;
                height: 25px;
            }
            button {
                margin-left: 10px;
            }
            button:hover {
                cursor: pointer;
            }
        }
        select {
            margin: 5px 0;
            position: absolute;
            right: 75px;
            top: -5px;
            height: 25px;
        }
        .todo-list {
            width: 100%;
            .todo-item {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                border: 1px solid;
                padding: 5px;
                border: 1px solid;
                border-radius: 5px;
            }
            .checked {
                background: pink;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                border: 1px solid;
                padding: 5px;
                border: 1px solid;
                border-radius: 5px;
            }
        }
}